<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href="/">Home</a></li>
      <li><a class="nav-link scrollto" href="/about/">About</a></li>
      <li><a class="nav-link scrollto" href="#services">Orders</a></li>
      <li><a class="nav-link scrollto " href="#portfolio">Blog</a></li>
      <li><a  href="#team">My Profile</a></li>

      <li class="dropdown"><a href="/auth/logout"><span>Logout</span></i></a>
      </li>
       

      <li><a class="nav-link scrollto bg-danger p-3"  href="#contact">Cart</a></li>
      
      <li><a class="nav-link scrollto bg-dark p-3" href="/contact/">Contact</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>